matplotlib==3.7.2
sqlite3  # SQLite3 is included in Python's standard library, no need to install it separately.

You can install the dependencies using the following command:

pip install -r requirements.txt
